*,
*::after. *::before {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
}

.header__logo {
  width: 600px;
  background-color: #2c323d;
  color: #fff;
}

.header__profile {
  width: 100%;
  background-color: #ecf6f6;
}

.profile {
  color: #2c323d;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  padding-left: 40px;
  width: 30px;
}
